<%- include('includes/head')%>
  <%- include('includes/nav')%>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <!-- conteudo: -->
        <div class="col-lg-8 my-3">
          <h1 class="text-center">OLA <%= userGlobal.user.email %>
          <%#console.log("USER :::::======>>>>>",user)%></h1>
          <p class="text-center lead">Agora voce pode cadastrar novos usuários</p>
          <p class="text-centet lead">Acesse o menu de cadastros de usuários na barra de navegação acima</p>
          
          <%- include('includes/messages');%>

        </div>

        <div class="col-lg-2"></div>

      </div>
    </div>


    <%- include('includes/footer')%>